@page
@model MascotaFeliz.App.Frontend.Pages.ConsultaHistoriaModel
@{
}

<h1>Consulta de Historia</h1>
<div>Id: @Model.historia.Id</div>
<div>Fecha de creacion: @Model.historia.FechaInicial</div>
<h2>Visitas asignadas a esta historia</h2>

<table class = "table">
    <tr>
        <th>Id de Visita</th>
        <th>Fecha</th>
        <th>Veterinario</th>
        <th>Acción</th>
    </tr>

@foreach (var visitaPyP in Model.listasVisitasPyP)
{
    <tr>
        <td>@visitaPyP.Id</td>
        <td>@visitaPyP.FechaVisita</td>
        <td><a asp-page="/Veterinarios/ConsultaVeterinario" asp-route-veterinarioId="@visitaPyP.IdVeterinario">Ir a veterinario</a></td>
        <td>
            <a class = "btn btn-primary table-btn" asp-page="/Visitas/ConsultaVisita" asp-route-visitaId="@visitaPyP.Id">Ir a Visita</a>
            <a class = "btn btn-primary table-btn" asp-page="/Visitas/ModificaVisita" asp-route-visitaId="@visitaPyP.Id">Modificar Visita</a>
        </td>
    </tr>
}



</table>